# Node.js
node_modules/
npm-debug.log*
.env
.env.local
.env.*.local
.DS_Store # macOS specific
.eslintcache
.idea/ # WebStorm/IntelliJ IDEA
.vscode/ # VS Code specific
*.log
pids/
logs/
*.pid
*.seed
*.pid.lock
report/ # Optional: for test reports or coverage
coverage/ # Optional: for test coverage reports
dist/ # Optional: build output directory
build/ # Optional: build output directory